![alt text](<Screenshot 2024-09-02 192643-2.png>)

# <b>Addition<b>

In [1]:
25+40

65

In [2]:
29+25

54

# <b><b>Subtraction

In [3]:
25-40

-15

In [4]:
140- 25

115

# <b><b>Multiplication

In [5]:
22 * 10

220

In [6]:
20 * 40

800

# <b><b>Division

In [7]:
64/4

16.0

In [8]:
120/10

12.0

# <b><b>Integer division/floored quotient

In [9]:
65//8

8

In [10]:
125//10

12

# <b><b>Modulus/remainder

In [11]:
65 % 8

1

In [12]:
125 % 10

5

# <b><b>Exponent

<b><b>Power of values.

In [13]:
2 ** 3

8

In [14]:
3 ** 4

81

# <b><b> Example

In [15]:
(5 - 1) * ((7 + 1) / (3 - 1))

16.0

![alt text](<Screenshot 2024-09-02 195732-1.png>)

In [16]:
25+

SyntaxError: invalid syntax (3270232444.py, line 1)

In [28]:
25+*2

SyntaxError: invalid syntax (28544948.py, line 1)

# <b><b>The Integer, Floating-Point, and String Data Types.

![alt text](<Screenshot 2024-09-02 195930-1.png>)

In [30]:
type(-2)

int

In [34]:
type(0)

int

In [32]:
type(1)

int

In [33]:
type(100)

int

In [35]:
type(-2.4)

float

In [36]:
type(-0.7)

float

In [37]:
type(2.0)

float

In [38]:
type(10.8)

float

In [49]:
#If we write something in '' or " ", this is recognize as string. not like that '"
'-2',"0.7",'100','Shefayet'

('-2', '0.7', '100', 'Shefayet')

In [40]:
type('-2')

str

In [43]:
type("0.7")

str

In [42]:
type('Shefayet')

str

In [45]:
'Shefayet"

SyntaxError: unterminated string literal (detected at line 1) (1958085776.py, line 1)

# <b><b>String Concatenation and Replication

## + is the addition operator when it operates on two integers or floating-point values. However, when + is used on two string values, it joins the strings as the string concatenation operator.

In [48]:
# we take two string 'Shefayet', 'Hossain' and we want to concatenate.
'Shefayet' + 'Hossain'

'ShefayetHossain'

In [ ]:
# Both data type aren't same
'Shefayet'+ 40

In [53]:
# Make 40 as String
'Shefayet'+ '40'

'Shefayet40'

## The * operator is used for multiplication when it operates on two integer or floating-point values. But when the * operator is used on one string value and one integer value, it becomes the string replication operator

In [54]:
'Shefayet' * 5

'ShefayetShefayetShefayetShefayetShefayet'

## The expression evaluates down to a single string value that repeats the original a number of times equal to the integer value. String replication is a useful trick, but it’s not used as often as string concatenation.The * operator can be used with only two numeric values (for multiplication) or one string value and one integer value  (for string replication).

In [55]:
'Shefayet' * 'Hossain'

TypeError: can't multiply sequence by non-int of type 'str'

In [56]:
'Shefayet' * 2.0

TypeError: can't multiply sequence by non-int of type 'float'

# <b><b>Storing Values in Variables

## A variable is like a box in the computer’s memory where you can store a single value. If you want to use the result of an evaluated expression later in your program, you can save it inside a variable.

## Assignment Statements
You’ll store values in variables with an assignment statement. An assignment 
statement consists of a variable name, an equal sign (called the assignment 
operator), and the value to be stored. If you enter the assignment statement 
spam = 42, then a variable named spam will have the integer value 42 stored in it.

In [59]:
spam = '42'

![alt text](<Screenshot 2024-09-02 203122-1.png>)

In [60]:
s = 42
a = 4

In [62]:
k = s+a
k

46

In [64]:
S = 'Shefayet'
s = 'Good Morning'

In [65]:
S

'Shefayet'

In [66]:
s

'Good Morning'

# <b><b>Variable Names

1. It can be only one word.
2. It can use only letters, numbers, and the underscore ( _ ) character.
3. It can’t begin with a number.

In [72]:
abc = 'Good boy'
OceanBird = 'Albatros'
Ocean_Bird = 'Albatros'
_OceanBird = 'Albatros'
OceanBird4 = 'Albatros'

![alt text](<Screenshot 2024-09-02 204545.png>)

<b><b>
* Variable names are case-sensitive, meaning that spam, SPAM, Spam, and sPaM
are four different variables.

# <b><b>Comments

In [73]:
# This program says hello and asks for my name.

# <b><b>The print() Function
The print() function displays the string value inside the parentheses on the 
screen.

In [74]:
print('Shefayet')

Shefayet

In [75]:
print(OceanBird)

Albatros

In [78]:
print('Hello World !!')

Hello World !!

# <b><b>The input() Function
The input() function waits for the user to type some text on the keyboard 
and press enter.

In [80]:
Myname =input()

<b><b>This function call evaluates to a string equal to the user’s text, and the 
previous line of code assigns the myName variable to this string value.

In [85]:
print('My name is',Myname)

My name is Shefayet

# <b><b>The len() Function
You can pass the len() function a string value (or a variable containing a 
string), and the function evaluates to the integer value of the number of 
characters in that string.

In [86]:
len(Myname)

8

In [87]:
len('')

0

In [88]:
len('Bangladesh')

10

# <b><b>The str(), int(), and float() Functions
If you want to concatenate an integer such as 29 with a string to pass to 
print(), you’ll need to get the value '29', which is the string form of 29. The 
str() function can be passed an integer value and will evaluate to a string 
value version of it

In [100]:
s = 22
print(type(s))

<class 'int'>

In [103]:
ss = str(s)
print(ss)
print(type(ss))

22
<class 'str'>

In [102]:
sss =float(s)
print(sss)
print(type(sss))

22.0
<class 'float'>

In [101]:
a = 23.5
print(type(a))

<class 'float'>

In [104]:
aa = int(a)
print(aa)
print(type(aa))

23
<class 'int'>

In [105]:
aaa = str(a)
print(aaa)
print(type(aaa))

23.5
<class 'str'>

In [107]:
S = 'shefayet'
print(type(S))
SS = int(S)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'shefayet'